@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400;0,600;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-container {
    color: #fff;
    background-color: #5995DA;  /* Blue */
    padding: 20px 0;
  }
  
  .menu {
    /* border: 1px solid #fff; */
    margin: auto;
    width: 900px;
  }

  .date{
    font-family: 'STIX Two Text', serif;
    font-size: 1.5em;
    text-align: center;
    /* color: black; */
}
  

.header-container {
    background-color: #D6E9FE;
    padding: 20px 0;
    /* border: 1px solid blue; */
  }
  
  .title-wrapper, .form {
    margin: auto;
    width: 50%;
  }

  .title-name {
    font-family: 'STIX Two Text', serif;
    font-size: 4em;
    color: rgb(66, 66, 66);
    text-align: center;
    /* border: 1px solid black; */
    margin-bottom: .2em;
}

  .form {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #task-name, #add-task-btn {
    height: 40px;
    font-size: 1.5em;
    border: 1.5px solid pink;
  }

  #task-name {
    border-right: none;
    width: 70%;
    padding-left: .7em;
    color: black; /* text color */
  }

  #add-task-btn {
    background: pink;
    color: white;
    cursor: pointer;
    width: 7%;
  }

  #add-task-btn:hover {
    background-color: rgb(248, 126, 147);
}


.task-container {
    /* border: 1px solid red; */
    padding: 20px 0;
  }

  ul {
    list-style: none;
  }

  .task-list {
    /* border: 1px solid black; */
    width: 40%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
  }
  
  .tasks {
    /* border: 1px solid red; */
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: .5em;
  }



  .list-item {
    /* border: 1px solid black; */
    /* border-bottom: .5px solid black; */
    font-family: 'STIX Two Text', serif; 
    font-size: 1.5em;
    padding: .2em .2em;
    margin: 0 .2em;
  }

  .md-task {
    cursor: pointer;
  }
  .remove-btn {
    cursor: pointer;
    /* border: 1px solid blue; */
    margin-left: auto;
    font-family: 'STIX Two Text', serif; 
    font-size: 1.5em;
    /* margin-right: 5em; */
    /* opacity: .3; */
    /* visibility: hidden; */
  }

  .tasks:hover {
    /* cursor: pointer; */
    /* border: 1px solid black; */
    /* color: inherit; */
    background-color: rgb(224, 224, 224);
    visibility: visible;
  }

  input[class=md-task]:checked~li.list-item {
    text-decoration: line-through;
    color: black;
}

.footer {
    margin: auto;
    padding: 20px 0;
  } 
  
  .footer-item {
    /* border: 1px solid black; */
    float: right;
    /* background-color: #D6E9FE; */
    font-family: 'STIX Two Text', serif; 
    /* font-size: 1em; */
    margin-right: 20em;
  }