@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400;0,600;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-container {
    color: #fff;
    background-color: #5995DA;  /* Blue */
    padding: 20px 0;
    display: flex;
    justify-content: center;
  }
  
  .menu {
    /* border: 1px solid #fff;  For debugging */
    width: 900px;
    display: flex;
    justify-content: space-between;
    font-family: 'STIX Two Text', serif;
  }
  
  .login {
    margin-left: 20px;
  }

  .signup {
    margin-left: auto;
}

.header-container {
    background-color: #D6E9FE;
    padding: 20px 0;
    /* border: 1px solid blue; */
  }
  
  .title-wrapper, .form {
    margin: auto;
    width: 50%;
  }

  .title-name {
    font-family: 'STIX Two Text', serif;
    font-size: 4.5em;
    color: black;
    text-align: center;
}

  .form {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #task-name, #add-task-btn {
    height: 40px;
    font-size: 1.5em;
    border: 1.5px solid pink;
  }

  #task-name {
    border-right: none;
    width: 70%;
    padding-left: .7em;
    color: black; /* text color */
  }

  #add-task-btn {
    background: pink;
    color: white;
    cursor: pointer;
    width: 5%;
  }
  #add-task-btn:hover {
    background-color: rgb(248, 126, 147);
  }


.task-container {
    padding: 20px 0;
    display: flex;
    justify-content: center;
  }
  
  .task-list {
    border: 1px solid black;
    /* width: 80%; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
  }
  
    ul {
        list-style: none;
    }

    .list-item {
        border: 1px solid blue;
        font-family: 'STIX Two Text', serif; 
        font-size: 2em;
        padding: .3em;
        margin: .3em;
    }
    

  /* .footer {
    display: flex;
    justify-content: space-between;
  }
  
  .footer-item {
    border: 1px solid #fff;
    background-color: #D6E9FE;
    height: 200px;
    flex: 1;
  }
  .footer-three {
    flex: 2;
  }

    .footer-one,
    .footer-three {
    background-color: #5995DA;
    flex: initial;
    width: 300px;
    } */

